<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1 class="title is-2 ">My travel app</h1>
    <h2 class="subtitle is-5">Discover when you are flying</h2>

    <script type="text/javascript" src="../../../dist/main.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

</head>

<body>

    <section class="container-1 ">
        <div class="field-area">
            <div class="control">
                <textarea class="textarea is-warning is-small " placeholder="errors"></textarea>
            </div>
        </div>
        <div class="field">
            <p class="control has-icons-left ">
                <input class="input is-rounded input is-medium is-centered" type="text" placeholder="Choose a destination">
                <span class="icon is-small is-left">
                          
            <i class="fas fa-plane-departure"></i>
                   
                    imagem check
                     </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span> -->
            </p>
            <span>
            <p class="error-destination">
                          You need to write a city/country.
            </p>
              </span>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input is-rounded" type="date" placeholder="date">
                <span class="icon is-small is-left">
                 <i class="fas fa-lock"></i>
                 </span>
            </p>
            <span>
               <p class="error-date">
                           You to set a valid date.
                </p>
                </span>
        </div>

        <div class="buttons">
            <button class="button is-primary is-light">Search</button>
        </div>
    </section>



    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</body>




</html>