<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1 class="title is-2 ">My travel app</h1>
    <h2 class="subtitle is-5">Discover when you are flying</h2>

    <script type="text/javascript" src="../../../dist/main.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

</head>

<body>

    <section class="container-1 ">
        <div id="error">
            <h2></h2>
        </div>
        <div class="field-area">
            <div class="control">
                <textarea class="textarea is-warning is-small " placeholder="errors"></textarea>
            </div>
        </div>
        <div class="field">
            <p class="control has-icons-left ">
                <input class="input is-rounded input is-medium is-centered" id="city" type="text" placeholder="Choose a destination">
                <span class="icon is-small is-left">
                          
            <i class="fas fa-plane-departure"></i>
                   
                    
                     </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span> -->
            </p>

        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input is-rounded" type="date" id="date" placeholder="date" required>
                <span class="icon is-small is-left">
                 <i class="fas fa-lock"></i>
                 </span>
            </p>

        </div>

        <div class="buttons">
            <button class="button is-primary is-light" id="get" onsubmit="return false" onclick="return Client.getInfo(event)" required>Search</button>
        </div>
    </section>
    <div id="result-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button id="btn" class="delete" aria-label="close">Where am i</button>
            </header>
            <section class="modal-card-body">
                <div id="res">
                    <div id="res-image">
                        <img id="res-img" alt="picture of your town">
                    </div>

                    <div id="res-city">
                        You will go to:
                    </div>
                    <div id="res-date">
                        Departure date:
                    </div>
                    <div id="res-time">
                        Your journey will happen in:
                    </div>
                    <div id="res-temp-weather">
                        Weather: Temperature:
                    </div>
                </div>




            </section>
            <footer class="modal-card-foot">
                <button class="button is-success is-large" onclick="document.getElementById('result-modal').classList.remove('is-active')">
                Save changes</button>
                <button class="button is-danger is-large">Cancel</button>
            </footer>
        </div>
    </div>











    <script type="text/javascript" src="../js/validation.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>




</html>